* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 60px;
  background-color: aliceblue;
  box-shadow: 5px 5px 5px 0px rgb(37, 37, 37);
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1;
}

.item_count {
  color: white;
  background-color: rgb(204, 30, 30);
  padding: 2px 7px;
  border-radius: 50%;
  position: relative;
  bottom: 33px;
  right: 10px;
}

.cards:hover {
  box-shadow: 1px 8px 20px grey;
  border: 2px solid black !important;
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.cart_icon {
  margin-top: 12px;
}

.btn {
  font-family: "Public Sans", var(--joy-fontFamily-fallback) !important;
  background-color: rgb(89, 111, 135) !important;
  margin-left: 30px !important;
}

.buttons {
  background-color: rgb(89, 111, 135) !important;
  color: aliceblue !important;
}

.delete {
  padding: 10px 0 !important;
}

.main_div {
  margin: 2%;
  margin-top: 90px;
  margin-bottom: 70px;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  row-gap: 25px;
}

.text_fild {
  width: 40px;
}

input {
  text-align: center !important;
}

.footer-content h3 {
  font-size: 2.1rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: aliceblue;
  text-align: center;
  box-shadow: 5px 0px 5px 5px rgb(37, 37, 37);
}